<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.smurf.mapper.UserMapper">
	    <insert id="add" parameterType="User" >
		insert into user ( name, sex, iDnumber, district, marriage , nation , birth_year , birth_month , politicalStatus , residence , province , city , street , telephone )
	    values (#{name},#{sex},#{iDnumber},#{district},#{marriage},#{nation},#{birth_year},#{birth_month},#{politicalStatus},#{residence},#{province},#{city},#{street},#{telephone}) 
	    </insert>
	    
	    <delete id="delete" parameterType="_int" >
	        delete from user where id= #{id}   
	    </delete>
	    
	    <select id="getById" parameterType="_int" resultType="User">
	        select * from user where id= #{id}    
	    </select>

	    <update id="update" parameterType="User" >
	        update user set name=#{name},sex=#{sex},iDnumber=#{iDnumber},district=#{district} where id=#{id}    
	    </update>
	    
	    <select id="list" resultType="User">
	        select * from user      
	    </select>	    
	    
	    <select id="count" resultType="_int">
	    	select count(*) from user
	    </select>
	</mapper>

